body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    border: solid 3px white;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 15px;
    transition: background-color 0.3s ease;
}

.start {
    background-color: #4CAF50;
    color: white;
}

.start:hover {
    background-color: #2d6d30;
}

.stop {
    background-color: #f44336;
    color: white;
}

.stop:hover {
    background-color: #9b2725;
}
